<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_baseline_warehouse_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_warehouse_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.Marketplace"
        tools:targetApi="31">
        <activity
            android:name=".View.SplashScreen"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.SignUpActivity"
            android:screenOrientation="fullSensor"
            android:exported="false"
            android:parentActivityName=".View.LoginActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.LoginActivity"
            android:screenOrientation="fullSensor"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.VendorActivity"
            android:screenOrientation="fullSensor"
            android:exported="false"
            android:parentActivityName=".View.MessageActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.MyProductActivity"
            android:exported="false"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.MessageActivity"
            android:screenOrientation="fullSensor"
            android:exported="false"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.ProductActivity"
            android:screenOrientation="fullSensor"
            android:exported="false"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:screenOrientation="fullSensor"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>